.buttonLandingPage {
    position: relative;
    width: 30%;
    height: 20%;
    font-family: 'Nanum Gothic';
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    color: var(--font-color);
    background: var(--black);
    transition: border .2s, border-width .2s, width .2s, box-shadow .2s;
    border: solid rgb(207, 207, 207);

    border-width: 0 3px 3px 0;
    box-shadow: 5px 7px 8px var(--effect-color);

 


}



.buttonLandingPage:hover {
    border: 6px solid var(--main-color);
    border-width: 1px 3px 3px 1px;
    width: 40%;    
    cursor: pointer;
    animation-name: btnAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
