.landingPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.mainSection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.buttonSection {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}